# Common Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
venv311/
backend/venv/
*.egg-info/

# Editor configs
.idea/
.vscode/

# DB and cache
*.sqlite3
*.log

# Node
node_modules/
frontend/.next/

# Ignore dev static directory
/static/

# Don't ignore staticfiles
!staticfiles/

#Media
backend/media/

