# Common Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
venv311/
backend/venv/
*.egg-info/

# Editor configs
.idea/
.vscode/

# DB and cache
*.sqlite3
*.log

# Node
node_modules/
frontend/.next/

# Ignore dev static directory
/static/

# Don't ignore staticfiles
!staticfiles/

#Safe
frontend/pages/test/safe/


# Ignore all media files
backend/media/**

# EXCEPT folder structure
!backend/media/
!backend/media/.keep
!backend/media/proctoring_photos/
!backend/media/proctoring_photos/.keep

# Ignore AI virtualenvs and large vendors
backend/deepface310/
backend/proctoring_ai/
backend/temp_merge_batches.py
backend/test_ai_batch.py
backend/test_deepface_match_step1.py
